{% extends 'bank/base.html' %}
{% block title %}
View Questions
{% endblock %}
<br>
{% block content %}

    <div class="card card-body">
        <form method="get">
            {{myFilter.form}}
            <button class="ms-3 btn btn-sm btn-info text-white" type="submit">Search</button>
        </form>
        <table class="table table-sm">
            <tr>
				<th><input class="form-check-input" type="checkbox" id="selectall"/></th>
                <th>Course ID</th>
                <th>Semester</th>
                <th>Year</th>
                <th>Question</th>
                <th></th>
                <th></th>
				<th></th>
                <th></th>
            </tr>
            {% for ques in questions %}
            
            <tr>
				<td><input type="checkbox" class="checkthis" /></td>
                <td>{{ques.course_q}}</td>
                <td>{{ques.semester}}</td>
                <td>{{ques.year}}</td>
                <td>{{ques.question}}</td>
                <td><a class="btn btn-sm btn-info text-white" href="{% url 'show_Question' ques.id %}">View</a></td>
                <td><a class="btn btn-sm btn-info text-white" href="{% url 'update_Question' ques.id %} ">Update</a></td>
				<td><a class="btn btn-sm btn-info text-white" href="{% url 'delete_Question' ques.id %}">Delete</a></td>
                
            </tr>
            {% endfor %}
        </table>
        

    </div>
    <td><a class="mt-3 ms-3 btn btn-sm btn-info text-white" href="{% url 'question_pdf' %}">Download all</a></td>
{% endblock %}
</br>

