{% extends 'bank/base.html' %}
<img src="logo2.png" class="img" alt="Cinque Terre">
{% block title %}

Create a Course Outline
{% endblock %}

{% block content %}
    <form class="table align-middle mb-0 bg-white" action="" method="POST">
        {% csrf_token %}
        <ul class="outlineList fw-normal form-light list-group text-black">
            <p><h5 class="mt-3 ms-3">Course Information:</h5> </p>
            <li id="ttl" class="CourseTitle list-group-item"><label  class="p-2 text-lg-start"><h5>Course Title</h5></label><div>{{ form.CourseTitle }}</div></li>
            <li id="code" class="courseCode list-group-item"><label  class="p-2 text-lg-start"><h5>Course Code</h5></label><div>{{ form.courseCode }}</div></li>
            <li id="pRq" class="PreRequisite list-group-item"><label  class="p-2 text-lg-start"><h5>Prerequisite</h5></label><div>{{ form.PreRequisite }}</div></li>
            <li id="crd" class="Credit list-group-item"><label  class="p-2 text-lg-start"><h5>Credit</h5></label><div>{{ form.credit }}</div></li>
            <!-- INSERT Section(s) and DEPT -->
            
            <p><h5 class="mt-3 ms-3">Date & Time Information:</h5> </p>
            <li id="yr" class="Year list-group-item"><label  class="p-2 text-lg-start"><h5>Year</h5></label><div>{{ form.year }}</div></li>
            <li id="sem" class="Semester list-group-item"><label  class="p-2 text-lg-start"><h5>Semester</h5></label><div>{{ form.semester }}</div></li>
            <li id="dur" class="Duration list-group-item"><label  class="p-2 text-lg-start"><h5>Duration</h5></label><div>{{ form.duration }}</div></li>
            <li id="days" class=" list-group-item"><label  class="p-2 text-lg-start"><h5>Time and Days</h5></label><div>{{ form.days }}</div></li>

            <p><h5 class="mt-3 ms-3">Instructor Information:</h5> </p>
            <li id="name" class="list-group-item"><label  class="p-2 text-lg-start"><h5>Instructor</h5></label><div>{{ form.name }}</div></li>
            <li id="email" class=" list-group-item"><label  class="p-2 text-lg-start"><h5>Email</h5></label><div>{{ form.email }}</div></li>
            <li id="mob" class=" list-group-item"><label  class="p-2 text-lg-start"><h5>Mobile</h5></label><div>{{ form.mob }}</div></li>
            <li id="office" class=" list-group-item"><label  class="p-2 text-lg-start"><h5>Office</h5></label><div>{{ form.office }}</div></li>
            <li id="hr" class="ContactHour list-group-item"><label  class="p-2 text-lg-start"><h5>Contact Hour</h5></label><div>{{ form.contactHour }}</div></li>
            
            <li id="desc" class="Grading list-group-item"><label  class="p-2 text-lg-start"><h5>Course Description</h5></label><div>{{ form.course_descrip }}</div></li>
           
            <li id="grd" class="Grading list-group-item"><label  class="p-2 text-lg-start"><h5>Grading</h5></label><div>{{ form.grading }}</div></li>
            
            <h5 class="mt-3 ms-3">Assessment Pattern:</h5> 
            <li id="Asmnt" class="Assesment list-group-item"><label  class="p-2 text-lg-start"><h5>Assessment</h5></label><div>{{ form.assesment }}</div></li>

            <!-- CO -->
            <h5 class="mt-3 ms-3">Course Learning Outcomes (CO/CLO) : </h5> 
            <div class="ms-3">
            <table class="mt-3 table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr class="table-info">
                    <th>CO</th>
                    <th>CO Statement</th>
                    <th>Domain</th>
                    <th>Level of Learning Taxonomy</th>
                    </tr>
                </thead>
                {% for s in formset %}
                <tbody>
                    <tr class="table-light">
                    <td>
                        <p class="fw-normal mb-1">{{s.CONo}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{s.Statement}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{s.Domain}}</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{s.Level}}</p>
                    </td>
                    
                    </tr>

                </tbody>
                {% endfor %}
            </table>
        </div>
            

            <!-- PLO -->
            <h5 class="mt-3 ms-3">Program Learning Outcome (PLO/PO) Applied:</h5> 
            <div class="ms-3">
                <table class="mt-3 table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr class="table-info">
                        <th>PO</th>
                        <th>Title</th>
                        <th>Description</th>
                        </tr>
                    </thead>
                    {% for p in formset_ %}
                    <tbody>
                        <tr class="table-light">
                        <td>
                            <p class="fw-normal mb-1">{{p.PLONo}}</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{p.PLOTitle}}</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{p.PLODescription}}</p>
                        </td>
                        
                        </tr>
    
                    </tbody>
                    {% endfor %}
                </table>
            </div>


            

            <!-- Attendance Policy -->
            <h5 class="mt-3 ms-3">Attendance Policy:</h5> 
            <div class=" ms-3"> 
               <div >1. It is the student’s responsibility to gather information about the assignments and covered topics
                during the missed lectures. Regular class attendance is required.</div>
                <div>2. Tentative date and syllabus of quiz, midterm and final exam is already given. However,
                    announcements will be given in advance if there is any change. There is NO provision for make-up
                    quizzes or examinations.</div>
            </div> 

            <!-- Adminstrative Policy -->
            <h5 class="mt-3 ms-3">Adminstrative Policy:</h5> 
            <div class=" ms-3">
               <div >1. The lecture notes, reading materials, codes, or other resources will be made available prior to the
                discussion on that material in class so that students may have a cursory look into the materials.</div>
                <div >2. Class participation is vital for better understanding of programming concepts. Moreover, this is
                    considered as an indicator of a good learner. Students are encouraged to participate in raising
                    relevant issues and discussing solutions to those questions. Students may be awarded bonus marks
                    for raising interesting issues object oriented programming and providing answers to such
                    questions.
                </div>
                <div >3. Students are invited to raise questions at any point during the session.
                </div>
                <div >4. Students should take tutorials during the schedule mentioned above. If necessary, prior
                    appointment is required.
                </div>

            </div> 

            <!-- Academic Policy -->
            <h5 class="mt-3 ms-3">Academic Policy:</h5> 
            <div class=" ms-3">
                <div >
                    1. A student who cheats, plagiarizes, or furnishes false, misleading information in the course is subject
                    to disciplinary action up to and including an F grade in the course and/or suspension/expulsion
                    from the University.
                </div>
                <div >
                    2. Students must maintain the code of IUB.
                </div>
                <div >
                    3. The goal of homework is to give you practice in mastering the course material. Consequently, you
                    are encouraged to collaborate on problem sets. In fact, students who form study groups generally
                    do better on exams than do students who work alone. If you do work in a study group, however,
                    you owe it to yourself and your group to be prepared for your study group meeting. Specifically,
                    you should spend at least 30-45 minutes trying to solve each problem beforehand by yourself. If
                    your group is unable to solve a problem, talk to other groups or ask your recitation instructor or
                    teaching assistant assigned to your class.
                </div>
                <div >
                    4. You must write up each problem solution by yourself without assistance. It is a violation of this
                    policy to submit a problem solution that you cannot orally explain to a member of the course staff.
                </div>
                <div >
                   <h6>5. No collaboration whatsoever is permitted during examination.</h6> 
                </div>
                <div >
                    6. Plagiarism and other anti-intellectual behavior cannot be tolerated in any academic environment
                    that prides itself on individual accomplishment. If you have any questions about the collaboration
                    policy, or if you feel that you may have violated the policy, please talk to one of the faculty.
                </div>
            </div> 

            <!-- Non-Discrimination Policy -->
            <h5 class="mt-3 ms-3">Non-Discrimination Policy:</h5> 
            <div class=" ms-3">
               <div >
                The course and University policy prohibits discrimination based on race, color, religion, sex, marital or
                parental status, national origin or ancestry, age, mental or physical disability, sexual orientation, military
                status. If you see by course either instructor or any other person related to course showing any form of
                discrimination, please inform the proctor’s office of the wrongdoing.
                </div>
            </div> 

            <!-- Grading Policy -->
            <h5 class="mt-3 ms-3">Grading Policy:</h5> 
            <!-- Table Part -->
            <div class="ms-3">
            <table class="mt-3 table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr class="table-info">
                    <th>A</th>
                    <th>A-</th>
                    <th>B+</th>
                    <th>B</th>
                    <th>B-</th>
                    <th>C+</th>
                    <th>C</th>
                    <th>C-</th>
                    <th>D+</th>
                    <th>D</th>
                    <th>F</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light">
                    <td>
                        <p class="fw-normal mb-1">90 to 100</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">85 to <90</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">80 to <85</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">75 to <80</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">70 to <75</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">65 to <70</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">60 to <65</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">55 to <60</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">50 to <55</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">45 to <50</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">0 to <45</p>
                    </td>
                    </tr>

                </tbody>
            </table>
        </div>
            <p ><h7 class="p-3 ms-3">*Numbers are inclusive</h7></p>
            <!-- TextBook(s) -->
            <li id="crsRsc" class="mt-3 ref list-group-item"><label  class="p-2 text-lg-start"><h5>Reference Text Book(s):</h5></label><div>{{ form.courseResource }}</div></li>

            <!-- Audit -->
            <div>
            <h5 class="mt-3 ms-3">Audit:</h5> 
            <h6 class=" ms-3">IUB Students who are willing to audit the course are welcome and are advised to contact the instructor
                before to check availability of space.</h6>
            </div>

        </ul>
        <input type="submit" value="Save" class="ms-3 mb-3 mt-3 btn btn-outline-info" href="{% url 'drafts_Outline' %}">
    </form>
{% endblock %}